.mb-3, .btn-outline-primary, h3{
  margin: 25px;
}

.navbar-brand, h2 {
  margin-left: 25px;
}

.debt_sect {
  margin: 20px 0px;
}

.sect_head {
  font-size: large;
}

th, td {
  font-size: small;
}



